@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Azeret Mono', 'Noto Sans TC', monospace, sans-serif;
    background-color: #000;
    color: #fff;
  }
  a{
    display: block;
  }
}

.header::after{
  background: linear-gradient(to right, #62DB54 50%, #09ACF5 50%)
}

.featureList-item:hover span{
  color: transparent;
}

.skillList{
  white-space: nowrap;
  overflow-x: scroll;
  cursor: grab;
}
.skillList::-webkit-scrollbar {
  display: none;
}

.specialList-item:hover span{
  color: #62DB54;
}

.specialList-item:hover .breakLine{
  background-color: #62DB54;
}

.article-item:hover .article-border{
  display: block;
}

.priceList-item:hover .priceList-item-content{
  color: #62DB54;
}

.timeline::after{
  background: linear-gradient(to right, #62DB54 50%, #C1C1C1 50%)
}

/* index swiper */
.swiper-pagination-bullets.swiper-pagination-horizontal{
  width: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: 'Material Icons';
}

.swiper-pagination-bullet {
  background: #62DB54;
  width: 8px;
  height: 8px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 100px;
  background: #62DB54;
}
/* index swiper end */